body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://memeprod.ap-south-1.linodeobjects.com/user-template/a17e96b7884bba60c0a2cf9b27f8ee48.png') ;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
